@charset "utf-8";
/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *       2、设置通用原子类
 */
body{
font-size:62.5%;
font-family:Microsoft YaHei;
}
a{
text-decoration:none;
}
.admin_sh01{
width:100%;
min-height:10px;
display:inline-block;
background-color:#F3F3F3;
}
.admin_sh02{
width:60%;
min-width:1160px;
min-height:10px;
margin:0 auto;
}
.admin_sh03{
width:180px;
min-height:10px;
float:left;
background-color:red;
}




/*****上写admin_sh03右侧代码空缺*****/
.admin_sh04{
width:980px;
min-height:10px;
float:right;
background-color:#FFFFFF;
}
.admin_sh0401{
width:940px;
min-height:10px;
margin:0 auto;
}
#nav{
width:100%;
min-height:10px;
}
#navs{
width:100%;
height:34px;
}
#nav .on a:link, #nav .on a:visited, #nav .on a:hover, #nav .on a:active {
float: left;
display: inline-block;
height:32px;
padding: 0 0 0 16px;
color:#2780E4;
background: url(../images/96_03.gif) no-repeat;
background-size:100% 100%;
}
#nav .on a:hover, #nav .on a:active {
float: left;
display: inline-block;
height:32px;
padding: 0 0 0 16px;
color:#2780E4;
background-image:url("../images/96_03.gif") no-repeat;
background-size:100% 100%;
}
#nav .on a:link span, #nav .on a:visited span, #nav .on a:hover span, #nav .on a:active span {
display: inline-block;
height:32px;
padding: 0 16px 0 0px;
background: url(../images/96_03.gif) no-repeat right;
}
#nav dt{
float: left;
font-size:1.2em;
font-weight: bold;
height: 32px;
line-height: 32px;
}
#nav a {
float: left;
display: inline-block;
height: 32px;
padding: 0 16px;
color: #000000;
}
#nav span {
cursor: pointer
}

/*********/
.admin_sh05{
width:100%;
height:30px;
background-color:#F8F8F8;
font-size:1.4em;
font-weight:bold;
color:#000000;
padding-left:10px;
line-height:30px;
margin-top:10px;
}
.admin_sh06{
margin:20px auto 46px 50px;
}
.admin_sh07{
font-size:1.4em;
color:#666666;
float:right;
padding-right:10px;
line-height:30px;
}
.admin_sh08{
margin-right:15px;
float:left;
}
.admin_sh09{
float:left;
}
.admin_sh010{
font-size:1.4em;
color:#666666;
float:left;
padding-right:10px;
}

/**********************/
.admin_sh10{
border:2px solid #DCDCDC;
height:118px;
width:936px;
margin:20px;
}
.admin_sh101{
height:106px;
width:914px;
margin:6px;
}
.admin_sh102{
width:100px;
height:100px;
float:left;
}
.admin_sh103{
font-size:1.6em;
font-weight:bold;
color:#2480E3;
padding:0px;
float:left;
line-height:24px;
}
.admin_sh104{
font-size:1.2em;
color:#2480E3;
padding:0px;
float:left;
line-height:24px;
}
.admin_sh105{
width:94px;
height:24px;
margin-right:8px;
float:left;
border-radius:7px;
-moz-border-radius:7px; /* 老的 Firefox */
}
.admin_sh106{
font-size:1.2em;
color:#656565;
margin-top:20px;
}
.admin_sh107{
width:1px;
height:100px;
border:1px solid #DCDCDC;
border-bottom:none;
border-top:none;
border-right:none;
margin-left:140px;
}
.admin_sh108{
width:200px;
height:86px;
background-image:url("../images/039.png");
background-repeat:no-repeat;
background-size:100% 100%;
margin-left:30px;
}
.admin_sh109{
font-size:1.4em;
font-weight:bold;
color:#676767;
padding:10px 50px;
}
.admin_sh110{
font-size:2.2em;
color:#2581E4;
text-align:center;
padding:2px 34px;
letter-spacing:8px;
}










