@charset "utf-8";
/* CSS Document */

/*first*/
.bengin_1a
{
width:100%;
height:300px;
background-image:url(../images/begin_1a_02.gif);
background-size:100% 100%;
}


.bengin_2a
{width:100%;
min-height:10px;
background-color:#FFF;
}
.bengin_2b
{width:100%;
min-height:10px;
margin:auto;
}
.bengin_2b_1
{
width:1160px;
height:100px;
position:relative;
margin:auto;
top:-30px;
z-index:2;
}
.bengin_2b_1a
{width:250px;
height:95px;
margin-right:50px;
float:left;
box-shadow:0px 3px 0px #EA4D4C ;
background-color:#FF6F6E;
border:1px solid #C30;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */
font-size:30px;
line-height:95px;
font-family:"微软雅黑";
color:#FFF;
text-align:center;
font-weight:600;
}
.bengin_2b_1ahuan
{width:250px;
height:95px;
margin-right:50px;
float:left;
box-shadow:0px 3px 0px #609;
background-color:#8F82BC;
border:1px solid #66C;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */
font-size:30px;
line-height:95px;
font-family:"微软雅黑";
color:#FFF;
text-align:center;
font-weight:600;
}

.bengin_2b_1b
{width:1160px;
height:130px;
margin:auto;
}
.bengin_2b_1b_p1
{text-align:center;
line-height:130px;
}

.bengin_2b_1b_span1
{
	font-size:60px;
	font-family:"微软雅黑";
	color:#F00;
	font-weight:500;	
}
.bengin_2b_1b_span2
{
	font-size:40px;
	font-family:"微软雅黑";
	color:#F00;
	font-weight:500;	
}

.bengin_2b_1c
{width:1160px;
height:260px;
margin:auto;

}

.bengin_2b_1c_a
{
width:50%;
height:100%;
float:left;
}


.bengin_2b_1c_p1
{font-size:18px;
font-family:"微软雅黑";
color:#003;
margin-left:75px;
line-height:30px;
margin-top:70px;
}
.bengin_2b_1c_p2
{
font-size:14px;
font-family:"微软雅黑";
text-align:left;
color:#003;
width:80%;
}

.bengin_2b_1d
{width:1160px;
margin:auto;
height:70px;
margin-top:25px;
margin-bottom:25px;
}


/*second*/
.bengin_3a
{width:750px;
height:490px;
margin:auto;
position:relative;
background-color:#F8F8F8;
margin-bottom:210px;
}

.bengin_3a_1
{width:110px;
height:110px;
position:absolute;
top:170px;
left:-50px;
}
.bengin_3a_1 img
{
	position:relative;
	top:-100px;
	left:30px;
}
.bengin_3a_1 p
{
	position:relative;
	top:-100px;
	font-size:24px;
	font-weight:600;
	color:#999;
	width:80px;
	overflow:hidden;
	height:30px;
	text-align:center;
	left:15px;
}

.bengin_3a_3
{width:110px;
height:110px;
position:absolute;
top:170px;
right:-50px;
}

.bengin_3a_2
{
width:610px;
height:410px;
margin:auto;
position:relative;
top:40px;
}

.bengin_3a_3 img
{
	position:relative;
	top:-100px;
	left:20px;
}
.bengin_3a_3 p
{
	position:relative;
	top:-100px;
	font-size:24px;
	font-weight:600;
	color:#999;
	width:80px;
	overflow:hidden;
	height:30px;
	text-align:center;
	left:15px;
}


.bengin_3a_2_1
{width:100%;
height:60px;
}

.bengin_3a_2_1 dt
{
float:left;
color:#FFF;
}
.bengin_3a_2_div1
{
	width:30px;
 height:10px; 
 border-top-style:solid;
	border-top-width:2px;
	border-top-color:#099;
	 margin-top:30px;
}

.bengin_3a_2_div2
{
	width:105px;
	height:30px;
	margin-top:10px;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */
background-color:#096;
line-height:30px;
text-align:center;
overflow:hidden;
}

.bengin_3a_2_div3
{
	width:245px;
	height:60px;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */
background-color:#096;
line-height:60px;
text-align:center;
overflow:hidden;
font-size:18px;
font-weight:600;
}

.bengin_3a_2_div4
{width:230px;
 height:66px;
 margin:auto;
 position:relative;
 top:-30px;
 z-index:5;
}

.bengin_3a_2_div4_a
{width:100px;
 height:66px;
 float:left;
 background:#F15E57; 
  float:left;
  color:#FFF; font-weight:600;
   text-align:center; 
   line-height:33px; 
   overflow:hidden;
   border-radius:15px 1px;
-moz-border-radius:15px 1px; /* Old Firefox */

}

.bengin_3a_2_div4_b
{width:100px;
 height:66px;
 float:left;
background:#97CE68; 
  float:left;
  color:#FFF; font-weight:600;
   text-align:center; 
   line-height:33px; 
   overflow:hidden;
      border-radius:15px 1px;
-moz-border-radius:15px 1px; /* Old Firefox */
margin-left:3px;

}

.bengin_3a_2_div4_c
{width:150px;
height:20px;
line-height:20px;
color:#FFF;
font-size:14px;
text-align:center;
border-radius:10px;
-moz-border-radius:10px; /* Old Firefox */
background-color:#FFA44B;
overflow:hidden;
}



/*对发起者的帮助*/
.begin_div5_0
{width:100%;
height:500px;
background-image:url(../images/c3a.png);
background-repeat:repeat;
}