
/**************************************/


html,body{margin:0;text-align:center;over-flow:hidden;height:100%;width:100%;}
UL{list-style-type:none; margin:0px;}
/* 标准盒模型 */
.ttl{height:18px;}
.ctt{height:auto;padding:6px;clear:both;border-top:0;text-align:left;}
.w936{margin:2px 0;clear:both;width:980px;float:right;background-color:#FFFFFF;/*滑动门的宽度*/}
/* TAB 切换效果 */
.tb_{ background-repeat: repeat-x;background-color:#FFFFFF;}
.tb_ ul{height:24px;}
.tb_ li{float:left;height: 30px;line-height:1.9;width: 92px;cursor:pointer;}
/* 控制显示与隐藏css类 */
.normaltab   { background-repeat: no-repeat; color:#1F3A87 ;}
.hovertab    { background-image: url('../images/96_03.gif'); background-repeat: no-repeat; color:#1F3A87; font-weight:bold }
.dis{display:block;}
.undis{display:none;}

