@charset "utf-8";
/* CSS Document */
body
{margin:0 auto;
padding:0;
border:0;
}
*{border:0px none;margin:0;}


/*导航部分css代码*/
.atop1
{
text-decoration:none;
}
.top1
{height:120px;
width:100%;
background-image:url(../images/top1.png);
background-repeat:repeat;
}
.top2
{width:1160px;
height:100%;
margin:0 auto;
}
.top2a
{width:27%;
height:100%;
float:left;
}
.imgtop1
{width:100%;
height:100%;
}
.top2b
{width:49%;
height:100%;
float:left;
}
.top2b-1
{width:16%;
height:100%;
float:left;
}
.ptop1
{text-align:center;
margin-top:50%;
font-size:14px;
color:#ffffff;
font-family:"微软雅黑";
font-weight:bold;
}
.top2c
{width:24%;
height:100%;
float:left;
}
.top2c-1
{width:93%;
height:100%;
float:right;
background-color:#252525;
}
.top2c-1a
{width:100%;
height:20%;
text-align:center;
margin-top:10%;
}
.spantop1
{
font-family:"微软雅黑";
font-size:14px;
color:#ffffff;
}
.spantop2
{
font-family:"微软雅黑";
font-size:14px;
color:#EDC99C;
}
.top2c-1b
{width:85%;
height:34%;
margin:5% auto 0 auto;
background-color:#1E1E1E;
border-radius:10px;
border-style:outset;
border-width:1px;
border-color:transparent;
background-image:url(../images/top3.png);
background-repeat:repeat;

}
.inputtop1
{width:77%;
height:100%;
float:left;
border:0;
background-image:url(../images/top3.png);
height:40px;
color:#999999;
font-family:"微软雅黑";
font-size:16px;

}
.inputtop2
{width:20%;
height:100%;
float:left;
background-image:url(../images/top4.png);
height:40px;
border:none;
}
/*
.ptop2
{color:#999999;
font-family:"微软雅黑";
font-size:100%;
margin-left:4%;
margin-top:5%;
}
.top2c-1b-1
{width:77%;
height:100%;
float:left;


}
.top2c-1b-2
{width:20%;
height:100%;
float:left;
}
*/
.top2c-2
{width:100%;
height:8%;
float:left;
background-image:url(../images/top5.gif);
background-size:100% 100%;
position:relative;
z-index:10;
}
.adcl1
{background-image:none;}
.adcl2
{background-image:url(../images/top001.jpg);
background-repeat:no-repeat;
}

/*导航部分css代码结束*/












/*正文第一部分css代码*/

.c1div1
{width:100%;
height:500px;
overflow:hidden;
position:relative;
}
.c1div2
{width:400%;
height:100%;
position:relative;
}
.c1div2a
{width:25%;
height:100%;
float:left;
}


.c1divleft
{width:2%;
height:12%;
position:absolute;
left:7%;
z-index:5;
top:44%;
}


.c1divright
{width:2%;
height:12%;
position:absolute;
z-index:5;
left:93%;
top:44%;
}


.c1div3
{width:13%;
height:24px;
position:absolute;
z-index:5;
left:43%;
top:87%;
}


.c1div3a
{
width:25%;
height:100%;
float:left;
text-align:center;
background-image:url(../images/c1d.gif);
background-repeat:no-repeat;
}

.c1div3b
{
width:25%;
height:100%;
float:left;
text-align:center;
display:none;
}
/*正文第一部分css代码结束*/










/*信筹是什么代码开始*/
.c2div1
{width:100%;
height:380px;
}
.c2div2
{width:1160px;
height:380px;
margin:auto;
}
.c2div2a
{width:46%;
height:24%;
margin:auto;
position:relative;
top:-10px;
}
.c2div2b
{width:100%;
height:61%;
margin-top:3%;
}
.c2div2b-1
{width:25%;
height:100%;
float:left;
}
.c2div2b-1a
{width:99%;
height:100%;
float:left;
}

.c2div2b-1a-1
{width:41%;
height:50%;
margin:auto;
}
.c2div2b-1a-2
{width:100%;
height:25%;
text-align:center;
line-height:60px;
font-size:24px;
color:#ff4200;
font-family:"微软雅黑";
}
.c2div2b-1a-3
{width:100%;
height:25%;
text-align:center;
line-height:24px;
font-size:16px;
color:#ff8f79;
font-family:"微软雅黑";
}
.c2div2b-1a-2a
{width:100%;
height:25%;
text-align:center;
line-height:60px;
font-size:24px;
color:#333333;
font-family:"微软雅黑";
}
.c2div2b-1a-3a
{width:80%;
height:25%;
text-align:center;
line-height:24px;
font-size:16px;
color:#333333;
font-family:"微软雅黑";
margin:auto;
}
.c2div2b-1a-3b
{width:60%;
height:25%;
text-align:center;
line-height:24px;
font-size:16px;
color:#333333;
font-family:"微软雅黑";
margin:auto;
}
.c2div2b-1b
{width:1%;
height:65%;
background-color:#CCC;
float:left;
margin-top:10%;
margin-bottom:10%;
}
/*信筹是什么代码结束*











/*精选项目代码开始*/
.c3div1
{width:100%;
height:1000px;
background-image:url(../images/c3a.png);
background-repeat:repeat;
}

.c3div2
{width:1160px;
height:12%;
margin:auto;
}
.c3div2a
{width:6%;
height:42%;
margin:auto;
position:relative;
top:-25px;
}
.c3div2b
{
width:19%;
height:58%;
float:left;
}
.c3div2c
{
width:8%;
height:33%;
float:right;
border-radius:25px;
border-style:solid;
border-width:2px;
border-color:#FFF;
font-size:14px;
color:#666666;
font-family:"微软雅黑";
line-height:40px;
text-align:center;
font-weight:700;
box-shadow:0px 2px #CCC;
}
.c3div2d
{
width:11%;
height:33%;
float:right;
border-radius:25px;
border-style:solid;
border-color:#FFF;
font-size:14px;
color:#666666;
font-family:"微软雅黑";
line-height:40px;
text-align:center;
margin-right:1%;
font-weight:700;
box-shadow:2px 2px #CCC;
}
.c3div2e
{
width:11%;
height:33%;
float:right;
border-radius:25px;
border-style:solid;
border-color:#FFF;
font-size:14px;
color:#666666;
font-family:"微软雅黑";
line-height:40px;
text-align:center;
margin-right:1%;
font-weight:700;
box-shadow:2px 2px #CCC;
background-image:none;
background-color:#FFF;
color:red;
}


.c3div3
{width:100%;
height:88%;
margin:auto;
position:relative;
}
.c3div3a
{width:50px;
height:100px;
position:absolute;
left:0px;
top:300px;
z-index:10;
}
.c3div3b
{width:1160px;
height:100%;
margin:auto;
}
.c3div3c
{width:50px;
height:100px;
position:absolute;
right:0;
top:300px;
z-index:10;
}
.c3div3b-1bao
{width:100%;
height:94%;
overflow:hidden;
}
.c3div3b-1bao4
{width:400%;
height:100%;
position:relative;
}
.c3div3b-1
{width:25%;
height:100%;
float:left;
}

.c3div3b-1a
{width:30%;
height:47%;
background-color:#FFF;
float:left;
margin-right:4%;
margin-bottom:3%;
box-shadow:0px 5px 0px #888888;
margin-right:3%; 
display:block;
}
.c3div3b-1b
{width:30%;
height:47%;
background-color:#FFF;
float:left;
margin-bottom:3%;
box-shadow:0px 5px 0px #888888;
margin-right:3%;
display:none;
}
.c3div3b-1c
{width:30%;
height:47%;
background-color:#FFF;
float:left;
margin-bottom:3%;
box-shadow:0px 5px 0px #888888;
margin-right:3%; 
display:none;
}

.c3div3b-1d
{width:30%;
height:48%;
background-color:#FFF;
float:left;
margin-right:4%;
box-shadow:0px 5px 0px #888888;
}
.c3div3b-1e
{width:30%;
height:48%;
background-color:#FFF;
float:left;
box-shadow:0px 5px 0px #888888;
}
.c3div3b-1f
{width:30%;
height:48%;
background-color:#FFF;
float:right;
box-shadow:0px 5px 0px #888888;
}

.c3div3b-yuan
{width:100%;
height:6%;
}
.c3divbbbb
{width:80px;
height:10px;
float:right;
margin-right:20px;
}

.c3div3b-yuan1
{
width:10px;
height:10px;
float:left;
margin-top:10px;
margin-left:10px;
background-image:url(../images/yuan1.png);
background-repeat:no-repeat;
}

.c3div3b-yuan2
{
width:10px;
height:10px;
float:left;
margin-top:10px;
margin-left:10px;
display:none;
}


.c3div6a1
{width:100%;
height:48%;
float:left;
}
.c3div6a20
{width:100%;
height:18%;
float:left;
}
.c3div6a2
{width:90%;
height:100%;
margin:auto;
}
.c3p6a2
{font-size:100%;
font-family:"微软雅黑";
line-height:150%;
color:#555555;
}
.c3div6a3
{width:100%;
height:22%;
float:left;
}
.c3span6a3
{font-size:12px;
font-family:"微软雅黑";
color:#999999;
}
.c3span6a3a
{font-size:24px;
font-family:"微软雅黑";
color:#010101;
font-weight:bolder;
}
.c3div6a3-1
{width:90%;
height:15%;
margin:auto;
}
.c3div6a3-2
{width:90%;
height:56%;
margin:auto;
}
.c3span6a3b
{font-size:16px;
font-family:"微软雅黑";
color:#F00;
margin-left:1%;
}
.c3span6a3e
{font-size:16px;
font-family:"微软雅黑";
color:#999999;
float:right;
margin-right:1%;
}
.c3div6a4
{width:100%;
height:12%;
float:left;
border-top-style:solid;
border-top-width:1px;
border-color:#CCC;
}
.c3div6ajia
{width:100%;
height:30%;
line-height:100%;
margin-top:3%;
}
.c3div6ajia1
{width:100%;
height:30%;
line-height:100%;
margin-top:2%;
}
/*精选项目代码结束*/












/*众筹十二杀手样式表开始*/
.c4div1
{width:100%;
height:260px;
background-color:#0F0;
background-image:url(../images/giashouye_04.gif);
background-size:100% 100%;
}
.c4div1 p{width:1160px; margin:auto;}
.c4div1 span
{font-size:30px;font-family:'微软雅黑'; color:#999999; position:relative; top:200px; margin:auto; text-align:center;}
.c4div1 a{text-decoration:none;}
/*众筹十二杀手样式表结束*/




/*众筹指南*/
.c5div1
{width:100%;
height:320px;
background-image:url(../images/c5a.gif);
background-size:100% 100%;
}
.c5div1a
{width:60%;
height:100%;
margin:auto;
}
.c5div1a-1
{width:60%;
height:44%;
position:relative;
left:39%;
top:48%;
}
.c5p1
{font-family:"微软雅黑";
font-size:137%;
line-height:normal;
color:#666666;
}
.c5div1a-1a
{width:26%;
height:33%;
margin-top:4%;
font-size:112%;
font-family:"微软雅黑";
color:#706f6f;
line-height:230%;
text-align:center;
background-image:url(../images/c7a.gif);
background-size:100% 100%;
}


/*信筹解惑*/
.c8div1
{
width:100%;
height:320px;
background-image:url(../images/c8a.gif);
background-size:100% 100%;
}
.c8div1a
{width:60%;
height:100%;
margin:auto;
}

.c8div1a-1
{width:60%;
height:44%;
position:relative;
left:3%;
top:48%;
}
.c8div1a-1a
{width:26%;
height:33%;
margin-top:4%;
font-size:112%;
font-family:"微软雅黑";
color:#FFF;
line-height:230%;
text-align:center;
background-image:url(../images/c9a.gif);
background-size:100% 100%;
}


/*项目分类*/
.c9div0
{width:100%;
height:700px;
background-image:url(../images/c10a_02.gif);
background-size:100% 100%;
}

.c9div1
{width:60%;
height:100%;
margin:auto;
}
.c9div1a
{width:6%;
height:9%;
margin:auto;
position:relative;
top:-4%;
}
.c9div1b
{width:100%;
height:7%;
margin:auto;
text-align:center;
line-height:100%;
font-size:225%;
font-family:Verdana, Geneva, sans-serif;
color:#d0ddda;
}

.c9div1c
{
	width: 54%;
	height: 28%;
	margin: auto;

	position:relative;
	z-index:3;
}
.c9div1c-1
{
	width: 29%;
	height: 100%;
	float:left;
	margin:0 0 0 3%;

}
.c9div1c-1f
{
	width: 29%;
	height: 100%;
	float:left;
	margin:0 0 0 3%;
	display:none;

}
.c9div1d
{
	width: 67%;
	height: 28%;
	margin: auto;

	position:relative;
	top:-6%;
	z-index:2;
}
.c9div1d-1
{
	width: 23%;
	height: 100%;
	float:left;
	margin:0 0 0 1.3%;

}
.c9div1d-1f
{
	width: 23%;
	height: 100%;
	float:left;
	margin:0 0 0 1.3%;
	display:none;

}
.c9div1e
{
	width: 54%;
	height: 28%;
	margin: auto;
	position:relative;
	z-index:1;
    top:-12%;
}
.c9div1e-1
{
	width: 29%;
	height: 100%;
	float:left;
	margin:0 0 0 3%;

}
.c9div1e-1f
{
	width: 29%;
	height: 100%;
	float:left;
	margin:0 0 0 3%;
	display:none;

}





/***************�ײ�����***************/
.l-foot{
width:100%;
height:256px;
float:left;
background-color:#2A2A2A;
}
.l-foota{
width:1160px;
height:256px;
float:center;
margin:0 auto;
}
.l-foota1{
width:100%;
height:150px;
float:left;
margin:50px 0px 56px 0px;
}
.l-foota2{
width:57.75%;
height:150px;
float:left;
}
.l-foota21{
width:23.88%;
height:150px;
float:left;
}
.l-foota22{
width:62.5%;
height:150px;
float:left;
margin-left:11.25%;
}
.l-foota23{
font-size:24px;
color:#FFFFFF;
font-family:Microsoft YaHei;
}
.l-foota24{
height:16px;
margin-top:30px;
float:left;
}
.l-foota24 a{
font-size:14px;
color:#999999;
font-family:Microsoft YaHei;
text-decoration:none;
}
.l-foota25{
margin-top:20px;
height:16px;
float:left;
}
.l-foota25 a{
margin-top:20px;
font-size:14px;
color:#999999;
text-decoration:none;
font-family:Microsoft YaHei;
}
.l-foota26{
height:150px;
float:right;
border-right:1px solid #404040;
}
.l-foota3{
width:29%;
float:left;
height:150px;
}
.l-foota30{
width:93.4%;
float:left;
height:150px;
margin-right:6.5%;
}
.l-foota31{
width:72.6%;
height:20px;
float:right;
}
.l-foota32{
width:9%;
float:left;
margin-right:4%;
}
.l-foota33{
width:86.4%;
float:left;
color:#FFFFFF;
font-size:16px;
font-family:Microsoft YaHei;
}
.l-foota33 span{
font-size:16px;
color:#FF4200;
font-family:Microsoft YaHei;
}
.l-foota34{
width:100%;
float:left;
height:20px;
margin:10px 0px 20px 50px;
}
.l-foota35{
width:7%;
height:24px;
float:left;
margin-right:3%;
}
.l-foota36{
width:90%;
float:left;
height:20px;
color:#FFFFFF;
font-size:16px;
line-height:24px;
font-family:Microsoft YaHei;
}
.l-foota36 span{
font-size:16px;
color:#79CDEA;
font-family:Microsoft YaHei;
}
.l-foota37{
float:right;
width:auto;
height:20px;
font-size:14px;
color:#FFFFFF;
margin-bottom:10px;
}
.l-foota38{
float:right;
width:auto;
height:20px;
font-size:14px;
color:#FFFFFF;
}
.hhr{
width:250px;
float:left;
margin-bottom:20px;
margin-left:50px;
border-bottom:1px solid #404040;
}
.weixin{
width:12.93%;
height:150px;
float:right;
}