@charset "utf-8";
/* CSS Document */

/***********大标题部分***********/
body{margin:0; padding:0;}
.topxwzw{
width:100%;
min-width:1160px;
height:160px;
background-color:#F5F5F5;
}
.topxwzwa{
width:1160px;
margin:auto;
float:center;
height:100%;
}
.topxwzwa01{
width:31%;
float:center;
height:100%;
margin:auto;
}
.topxwzwa020{
width:100%;
height:50%;
margin:0 auto;
}
.topxwzwa02{
width:100%;
height:50%;
float:left;
margin:auto;
margin-top:8%;
text-align:center;
}
.topxwzwa02 span{
margin-top:50%;
font-size:40px;
color:#F15F43;
font-family:Microsoft YaHei;
font-weight:bold;
}
.topxwzwa021{
width:100%;
height:25%;
float:left;
margin-bottom:10%;
}
.topxwzwa022{
min-height:10px;
font-size:14px;
color:#F15F43;
font-family:Microsoft YaHei;
}
.topxwzwa022 a{
font-size:14px;
color:#F15F43;
text-decoration:none;
font-family:Microsoft YaHei;
}
/***********大标题部分结束******************/
/***********新闻正文部分******************/
.xcxwzwa0{
width:100%;
min-height:10px;
margin:40px 0px 50px 0px;
}
.xcxwzwa{
width:60%;
min-width:1160px;
min-height:10px;
margin:0 auto; 
float:center;
}
.xcxwzwa-l-a1{
width:1060px;
float:left;
margin-left:4%;
border:1px solid #D3CACD;
height:auto;
margin:0 auto; 
}
.xcxwzwa-l-a2{
height:46px;
width:100%;
float:left;
}
.xcxwzwa-l-a2-1{
width:auto;
height:20px;
float:left;
margin:12px 0px;
}
.xcxwzwa-l-a2-1a{
margin-right:20px;
}
.xcxwzwa-l-a2-1b{
width:auto;
height:20px;
float:left;
font-size:14px;
color:#333333;
font-weight:bold;
font-family:Microsoft YaHei;
}
.xcxwzwa-l-a2-2{
width:20%;
height:20px;
margin:12px 0px;
float:right;
hright:100%;
}
.xcxwzwa-l-a2-2a{
width:auto;
min-height:10px;
}
.xcxwzwa-l-a2-2a a{
float:left;
font-size:14px;
color:#333333;
font-weight:bold;
text-decoration:none;
font-family:Microsoft YaHei;
}

.xcxwzwa-l-a2-2b{

float:left;
height:100%;
}
.xcxwzwa-l-a2-2b span{
width:1%;
height:100%;
margin:0% 4%;
line-height:center;
}
.xcxwzwa-l-a2-2c{
font-size:14px;
color:#333333;
font-weight:bold;
text-decoration:none;
font-family:Microsoft YaHei;
}
.xcxwzwa-l-a2-3{
width:100%;
float:left;
border:1px solid #F75834;
border-bottom:none;
border-right:none;
border-left:none;
}
.xcxwzwa-l-a2-4{
height:auto;
margin:0% 3.8% 0% 1.8%;
float:left;
}
.xcxwzwa-l-a2-5{
width:100%;
float:left;
margin-top:30px;
font-size:14px;
color:#333333;
font-family:Microsoft YaHei;
}
.xcxwzwa-l-a2-6{
width:94%;
float:left;
margin-top:30px;
}
.xcxwzwa-l-a2-7{
font-family:Microsoft YaHei;
font-family:bold;
font-size:16px;
color:#333333;
}
.xcxwzwa-l-a2-8{
width:100%;
margin-left:1%;
float:left;
}
.xcxwzwa-l-a2-8 p{
width:100%;
line-height:10px;
font-size:10px;
color:#333333;
line-height:200%;
font-family:Microsoft YaHei;
}
.xcxwzwa-l-a2-tz{
height:50px;
float:right;
width:23.6%;
}
.xcxwzwa-l-a2-tza{
width:56%;
height:20px;
float:left;
margin:15px 0px;
}
.xcxwzwa-l-a2-tza0{
width:100%;
float:left;
height:20px;
}
.xcxwzwa-l-a2-tza1{
width:auto;
float:left;
height:20px;
}
.xcxwzwa-l-a2-tza1 a{
font-size:14px;
font-family:Microsoft YaHei;
color:#333333;
text-decoration:none;
font-weight:bold;
}
.xcxwzwa-l-a2-tza2{
margin:0px 10px;
}
.xcxwzwa-l-a2-tza2 img{
width:10%;
float:center;
}
.xcxwzwa-l-a2-tza3{
width:auto;
height:20px;
margin:15px 0px;
margin-left:20px;
}
.xcxwzwa-l-a2-tza3 a{
font-size:14px;
font-family:Microsoft YaHei;
color:#333333;
text-decoration:none;
font-weight:bold;
}










/***********新闻正文部分结束******************/


