@charset "utf-8";
/* CSS Document */

/***********大标题部分***********/

.dao-1a{
width:100%;
float:left;
height:300px;
background-image:url("../images/yun.gif");
}
.dao-1a1{
width:60%;
height:300px;
float:center;
margin:0 auto;
}
.dao-1a2{
width:54%;
margin:0% 27% 0% 19%;
}


















