/*xinchouwang.cn CSS Document */

/*CSS Reset*/
body,div,p,ul,li,a{margin:0; padding:0;}
img{border:none;}

#banner{display:block; width:100%; height:300px; margin:0 auto;min-width:1160px;}
#banner img{display:block; width:100%; height:300px;}

#content1,#content2,#content3,#content4,#content5{width:1160px;margin:0 auto;}

#content1{}
.textnote{text-align:center;}
.textnote b{display:block;color:#DE2E13;font:22px "微软雅黑";}
.textnote p{color:#ccc;font:13px "微软雅黑";}
#contentpanl1,#contentpanl2{width:100%;min-width:1160px;}
#contentpanl1{background-color:#F8F7F7;}
#contentpanl2{background:url(../images/zhongzhi.gif) repeat-x;height:690px;}

.rollBox{width:1160px;overflow:hidden;margin:0 auto;} /*控制外层样式*/
.rollBox .LeftBotton{height:32px;width:32px;background:url(../images/qieh_01.gif) no-repeat;overflow:hidden;float:left;display:inline;margin-left:545px;cursor:pointer;}/*左边按钮*/
.rollBox .RightBotton{height:32px;width:32px;background:url(../images/qieh_02.gif) no-repeat;overflow:hidden;float:left;display:inline;margin-left:5px;cursor:pointer;}/*右边按钮*/
.rollBox .Cont{width:1150px;overflow:hidden;float:left;margin-top:80px;}/*中间内容显示样式*/
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:300px;float:left;text-align:center;}
.rollBox .Cont .pic img{padding:4px;background:#fff;display:block;margin:0 auto;}
.rollBox .Cont .pic p{line-height:26px;color:#505050;font:12px "微软雅黑";}
.rollBOx .Cont a{color:#DE2E13;background:#DE2E13;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}
/***********大板块第二部分***********/
.dao-1b{
width:100%;
min-height:10px;
background-color:#FFFFFF;
}
.dao-1b-f{
width:100%;
min-height:10px;
background-image:url("../images/hongtu.gif");
background-repeat:no-repeat;
background-size:100% 100%;
}
.dao-1b1{
width:60%;
height:auto;
float:center;
margin:0 auto;
}
.dao-1b1a{
width:80%;
float:center;
margin:80px auto 40px auto;
}
.dao-1b1a1{
font-size:1.2em;
font-family:Microsoft YaHei;
color:#DE2E13;
text-align:center;
}
.dao-1b1a1-f{
font-size:1.2em;
font-family:Microsoft YaHei;
color:#FFFFFF;
text-align:center;
}
.xxx{
width:35.5%;
height:6px;
float:center;
background-image:url("../images/012.png");
background-repeat:no repeat;
margin:10px auto;
}
.dao-1b1a2{
width:100%;
float:left;
height:auto;
}
.dao-1b1a3{
width:100%;
height:auto;
line-height:200%;
text-align:center;
font-size:0.75em;
color:#999999;
}
.dao-1b1a3-f{
width:100%;
height:auto;
line-height:200%;
text-align:center;
font-size:0.75em;
color:#000000;
}
.dao-1b1b{
width:100%;
height:auto;
float:center;
}

.table tr{
float:center;
}
.dao-1b1c{
width:100%;
float:left;
height:auto;
overflow:hidden;

}

.dao-1b1c1{
width:16%;
float:left;
height:auto;
margin:0% 0.3%;
}
.dao-1b1c2{
width:150%;
float:left;
height:auto;
position:relative;
margin-bottom:80px;
}
.dao-1b1c2a{
width:150%;
float:left;
height:auto;
position:relative;
margin-bottom:64px;
}
.dao-1b1c2b{
width:150%;
float:left;
height:auto;
position:relative;
margin-bottom:130px;
}
.dywz1{
color:#E04633;
font-size:1.4em;
font-family:Microsoft YaHei;
text-align:center;
margin:20px 0;

}
.dywz1-f{
color:#FFFFFF;
font-size:2em;
font-family:Microsoft YaHei;
text-align:center;
margin:20px 0;

}
.dywz2{
width:92%;
font-size:1em;
font-family:Microsoft YaHei;
color:#999999;
text-align:center;
}
.dao-2b1a{
min-height:10px;
width:100%;
background-color:#F8F7F7;
}
.dao-2b1a1{
width:60%;
height:auto;
float:center;
margin:0 auto;
}
.dao-1b1c1-1{
width:79%;
float:left;
height:auto;
margin:auto 14% auto 7%;
}
.dao-1b1c1-2{
width:13%;
float:left;
height:auto;
}
.dao-1b1c1-3{
width:auto;
text-align:center;
font-size:1em;
font-family:Microsoft YaHei;
color:#333333;
}
.dao-1b1d{
width:100%;
height:auto;
float:left;
margin-bottom:100px;
}
.dao-1b1d1{
width:28%;
height:50px;
float:center;
background-color:#FFFFFF;
border:1px solid #DBDADA;
margin:0 auto;
}
.dao-1b1d1 a{
line-height:50px;
padding:0% 25%;
font-size:1.2em;
font-family:Microsoft YaHei;
color:#E3594B;
text-decoration:none;
}
.dao-1b-w{
min-height:10px;
width:100%;
background-color:#FFFFFF;
}
.dao-1b1-w{
width:60%;
float:center;
min-height:10px;
height:auto!important;
background-color:#FFFFFF;
margin:0 auto;
}
.dao-1d{
width:100%;
float:left;
height:auto;
overflow:hidden;
margin:auto;
}
.dao-1d1{
width:202%;
float:left;
height:auto;
position:relative;
margin-bottom:100px;
}
.dao-1d1-1{
width:15.8%;
float:left;
height:auto!important;
min-height:10px;
margin:0% 0.3%;
border:1px solid red;
}
.dao-1d1-2{
width:100%;
height:100%;
float:left;
}
.dao-1d1-3{
width:100%;
font-size:18px;
font-family:Microsoft YaHei;
color:#E56B5F;
float:left;
}
.dao-1d1-4{
font-size:12px;
font-family:Microsoft YaHei;
color:#999999;
float:left;

}
.dao-1d1-04{
float:left;
height:auto 0;
width:100%;
}
.dao-1d1-5{
width:30%;
height:auto;
margin-right:5%;
float:left;
}
/******
.dao-1b1c{
width:100%;
float:left;
height:auto;
overflow:hidden;
margin:auto;
}
.dao-1b1c1{
width:16%;
float:left;
height:auto;
margin:0% 0.3%;
}
.dao-1b1c2{
width:150%;
float:left;
height:auto;
position:relative;
}


**********/





















