@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
body
{margin:0 auto;
padding:0;
border:0;
}
*{border:0px none;margin:0;}


/*导航部分css代码*/
.atop1
{
text-decoration:none;
}
.top1
{
height:80px;
width:100%;
background-image:url(../images/top1.png);
background-repeat:repeat;
}
.top2
{width:1160px;
height:100%;
margin:0 auto;
}
.top2a
{width:24%;
height:100%;
float:left;
}

.top2a img
{
width:100%;
height:100%;
}

.top2b
{width:50%;
height:100%;
float:left;
}
.top2b-1
{width:16%;
height:100%;
float:left;
}
.ptop1
{text-align:center;
margin-top:35%;
font-size:14px;
color:#ffffff;
font-family:"微软雅黑";
font-weight:bold;
}
.top2c
{width:26%;
height:100%;
float:left;
}
.top2c-1
{width:100%;
height:100%;
}
.top2c-1a
{width:29%;
text-align:center;
float:left;
margin-left:1%;
margin-top:10%;
}
.spantop1
{
font-family:"微软雅黑";
font-size:14px;
color:#ffffff;
}
.spantop2
{
font-family:"微软雅黑";
font-size:14px;
color:#EDC99C;
}
.top2c-1b
{width:69%;
height:50%;
border-radius:10px;
border-style:outset;
border-width:1px;
border-color:transparent;
background-image:url(../images/top3.png);
background-repeat:repeat;
float:left;
margin-top:6%;

}
.inputtop1
{width:77%;
float:left;
border:0;
background-image:url(../images/top3.png);
height:40px;
color:#999999;
font-family:"微软雅黑";
font-size:16px;
}
.inputtop2
{width:20%;
height:100%;
float:left;
background-image:url(../images/top4.png);
height:40px;
border:none;
}

.adcl1
{background-image:none;}

.adcl2
{
background-image:url(../images/top001.jpg);
background-size:100% 100%;
}
body{margin:0; padding:0;}
img{border:none;}

div.footer{width:100%;height:250px;background-color:#2A2A2A;min-width:1160px;font-family:"微软雅黑"}
.foot{width:1160px;height:250px;margin:0 auto;padding:0 auto;}
div.footer{width:100%;height:250px;background-color:#2A2A2A;min-width:1160px;}
.foot{width:1160px;height:250px;margin:0 auto;float:center;}
.foot1{float:left;margin:50px 18px 0 0;}
.foot2{float:left;margin:46px 45px 0 0;}
.foot2 ul {list-style:none;padding-left:0px;margin-top:20px;}
.foot2 li{font-size:13px;height:36px;line-height:36px;}
.foot2 li a{text-decoration:none;color:#999999}
.foot21{color:#FFFFFF;font-size:23px;}
.copyright{float:left;width:360px;text-align:right;font-size:20px;margin-top:40px;height:42px;line-height:42px;}
.copyright p{color:#FFFFFF;margin:0;padding:0;}
.copyright1{font-size:14px;line-height:24px;height:40px;padding-top:10px;}
.copyright2{float:left;width:150px;margin:50px 0 0 26px;}


/*导航部分css代码结束*