/*xinchouwang.cn CSS Document */

/*CSS Reset*/
body,div,p,dl,dt,dd,ul,li,tr,td,h3,a{margin:0; padding:0;font-family:"Microsoft YaHei";}
img{border:none;}

/*page CSS*/
#banner,#banner1,.content,.content1,#footer{width:1160px; margin:0 auto;}

#banner{display:block; width:100%; height:500px; margin:0 auto;min-width:1160px;}
#banner img{display:block; width:100%; height:500px;}
#banner1{display:block; width:411px; height:90px; margin:0 auto;position:relative;bottom:10px;}
#banner1 img{display:block; width:411px; height:90px;}

.col4{overflow:hidden;
    width:100%;min-width:1160px;
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    background-size: 5px 5px; /* 控制条纹的大小 */
    
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;
	background-color: #DEE3E6;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
                            color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
                            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
                            color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
                            to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);}

#col4a{display:block;position:relative;width:78px;height:67px;top:40px;margin:0 auto;}
#col4a img{display:block; width:78px; height:67px;}

.Methods1{text-align:center;font-size:3em;font-weight:bold;color:#95A3AE;margin-top:60px;}
.Methods11{display:block;width:597px;height:13px;margin:20px auto;}

#Methods2 p{font-size:24px; height:30px;line-height:30px;border-left:2px solid #666;background:#FFF;letter-spacing:8px;margin:5px 0;}
#Methods2{overflow:hidden;margin-bottom:30px;}
#Methods2 dl{float:left;}
#Methods2 dt{width:136px;float:left;padding:0;}
#Methods2 dd{width:300px;float:left; margin:;line-height:20px;text-align:left;overflow:hidden;}
#Methods2 span{color:#555555;}
.col4c3{width:148px;height:148px;display:block;float:left;}
.col4c3 img{border-radius:100%;-moz-border-radius:100%; /* Old Firefox */}
.col4c31{width:305px;float:left;margin-left:30px;}
.col4c31 p{font-size:1.8em;border:2px solid #666;border-top:none;border-bottom:none;border-right:none;height:40px;line-height:40px;letter-spacing:8px;background-color:#FFFFFF;}
.col4c31 strong{line-height:50px;height:50px;}
.col4c31 span{font-size:16px;color:#555555;}
.tabtwo2{margin-left:90px;}
/* ----------------------------------------------Content------------------------------------- */
.content{padding-top:60px;}
.tabone,.tabtwo{width:100%;}
.tabtwo td{width:50%;min-height:20px;padding-bottom:80px;vertical-align:top;}
.content tr td{width:50%;line-height:30px;height:30px;font-size:14px;}
.tab2{border-right:2px solid #666666;color:#666666;font-size:16px;}
.tab3{padding-left:90px;color:#666666;font-size:16px;}
.tabone span{display:block;padding:0;margin:0 auto;color:#95A3AE;font-size:16px;font-weight:bold;font-family:"微软雅黑"}


