@charset "utf-8";
/* CSS Document */

.m1_a
{width:100%;
height:120px;
background-image:url(../images/menber1.gif);
background-size:100% 100%;
}
.m1_b
{width:100%;
height:550px;
background-color:#F3F3F3;
}
.m1_b0
{width:1160px;
height:100%;
margin:auto;
}
.m1_b0_left
{width:160px;
height:100%;
float:left;
position:relative;
top:-70px;
}
.m1_b0_left1
{width:130px;
height:140px;
background-color:#FFF;
padding:10px;
}

.m1_b0_left1 img
{width:100%;
height:100%;
}

.m1_b0_left2
{width:150px;
height:180px;
background-color:#FFF;
margin-top:15px;
}

.m1_b0_left2 dt
{width:130px;
height:30px;
margin-top:20px;
float:right;
text-align:center;
line-height:30px;
}

.m1_b0_left3
{
width:150px;
height:180px;
margin-top:15px;
}
.m1_b0_left3 img
{width:100%;
height:100%;
}

.m1_b0_right
{
width:1000px;
height:100%;
float:left;
background-color:#C90;
}
.m1_b0_right_0_1
{
width:100%;
height:90px;
}

.m1_b0_right_0
{
width:500px;
height:90px;
background-color:#00C;
float:left;
}
.m1_b0_right_1
{
width:500px;
height:50px;
font-size:16px;
font-family:"微软雅黑";
line-height:50px;
overflow:hidden;
}
.m1_b0_right_2
{
width:500px;
height:40px;
background-color:#090;
}
.m1_b0_right_2_dt1
{
min-width:110px;
height:20px;
float:left;
margin-right:10px;
font-weight:600;
color:#FFF;
background-color:#008DEF;
text-align:center;
border-radius:3px;
-moz-border-radius:3px; /* Old Firefox */	
}

.m1_b0_right_2_dt2
{
min-width:110px;
height:20px;
float:left;
text-align:center;
margin-right:10px;
color:#FFF;
font-weight:600;
background-color:#F65A4E;
border-radius:3px;
-moz-border-radius:3px; /* Old Firefox */	
}
.m1_b0_right_2_dt3
{
min-width:110px;
height:20px;
float:left;
text-align:center;
margin-right:10px;
background-image:url(../images/c3a.png);
background-repeat:repeat;
border-radius:3px;
-moz-border-radius:3px; /* Old Firefox */	
}
.m1_b0_right_2_dt4
{width:200px;
height:60px;
float:right;
margin-top:15px;
border:2px solid #36F;
background-color:#FFF;
text-align:center;
font-size:30px;
font-family:"微软雅黑";
color:#2581e4;
}
.m1_b0_right_2_dt4 img
{margin-top:10px;}
.m1_b0_right_2_dt40
{width:500px;
height:90px;
background-color:#063;
float:right;
}