@charset "utf-8";
/* CSS Document */
body
{margin:0 auto;
padding:0;
border:0;
}
*{border:0px none;margin:0;}


/*导航部分css代码*/
.atop1
{
text-decoration:none;
}
.top1n
{height:120px;
width:100%;
background-image:url(../images/top1.png);
background-repeat:repeat;
}
.top2
{width:1160px;
height:100%;
margin:0 auto;
}
.top2a
{width:24%;
height:100%;
float:left;
}
.imgtop1
{width:100%;
height:100%;
}
.top2b
{width:45%;
height:100%;
float:left;
}
.top2b-1
{width:16%;
height:100%;
float:left;
line-height:400%;
}
.ptop1
{text-align:center;
font-size:14px;
color:#ffffff;
font-family:"微软雅黑";
font-weight:bold;
}
.top2c
{width:24%;
height:100%;
float:left;
}
.top2c-1
{width:100%;
height:90%;
margin:2% 0 0 0;
}

.top2c-1b
{width:70%;
height:34%;
border-radius:10px;
border-style:outset;
border-width:1px;
border-color:transparent;
background-repeat:repeat;
float:left;
}
.top2c-1cn
{width:26%;
height:34%;
float:left;
margin-left:1%;
text-align:center;
font-family:"微软雅黑";
font-size:14px;
line-height:260%;
}
.fl1span1
{color:#F90;
}
.fl1span2
{color:#666;
}
.inputtop1
{width:77%;
height:100%;
float:left;
border:0;
background-image:url(../images/top3.png);
height:30px;
color:#999999;
font-family:"微软雅黑";
font-size:16px;
}
.inputtop2
{width:20%;
height:100%;
float:left;
background-image:url(../images/top4.png);
background-size:100% 100%;
height:30px;
border:none;
}



/*导航部分css代码结束*/

