@charset "utf-8";
/* CSS Document */
body
{margin:0 auto;
padding:0;
border:0;
}
*{border:0px none;margin:0;}






/*第一部分滑动效果样式开始*/

.xmfl_1div0
{width:100%;
height:300px;
background-image:url(../images/xiangmu1_02.gif);
background-size:100% 100%;
position:relative;
}

.xmfl_1div1
{width:1160px;
height:100%;
margin:auto;
overflow:hidden;
position:relative;
}

.xmfl_1div1zong
{width:400%;
height:100%;
position:relative;
}
.xmfl_1div1zong_1
{width:25%;
height:100%;
float:left;
}


.xmfl_1div1zong_1 img
{width:100%;
height:100%;
}





.xmfl_1divleft
{width:2%;
height:20%;
position:absolute;
right:0;
top:40%;
}

.xmfl_1divleft img
{width:100%;
height:100%;
}



.xmfl_1divright
{width:2%;
height:20%;
position:absolute;
left:0;
top:40%;
}

.xmfl_1divright img
{
width:100%;
height:100%;
}



.xmfl_1divyuandian
{width:6%;
height:4%;
position:absolute;
z-index:10;
top:90%;
left:90%;
}

.xmfl_1divyuandian_1
{
width:15%;
height:100%;
float:left;
margin-left:10%;
}

.xmf1xsaa
{
	background-image:url(../images/xm1a.png);
	background-repeat:no-repeat;
	
}

.xmf1xsaa1
{
	background-image:url(../images/xm1b.png);
	background-repeat:no-repeat;
	
}


/*第一部分滑动效果样式结束*/



/*信筹项目筛选开始*/


.xmf1_2div0
{
width:1160px;
min-height:80px;
float:left;
margin:0px auto 0 auto;
border-bottom-width:2px;
border-bottom-color:#CCC;
border-bottom-style:solid;
}

.xmf1_2div0_a
{width:12%;
float:left;
height:100%;
font-size:100%;
font-family:"微软雅黑";
color:#000;
line-height:80px;
text-align:left;
font-weight:bold;
margin-left:2%;
}


.xmf1_2div0_b
{width:86%;
float:left;
}

.xmf1_2div0_b1
{
border-width:1px;
border-color:#CCC;
border-style:solid;
height:22px;
min-width:10px;
float:left;
margin-top:30px;
margin-bottom:10px;
line-height:22px;
margin-right:10px;
list-style:none;
display:none;
}
.xmfl_span3a
{text-align:center;
font-size:14px;
}
.xmfl_span3b
{text-align:center;
font-size:14px;
color:#F00;
}
.xmfl_span3bg
{text-align:center;
font-size:14px;
color:#F00;
}

/*信筹项目筛选结束*/




/*信筹项目性质开始*/

.xmf1_3div0
{
width:1160px;
min-height:60px;
float:left;
margin:0 auto 0 auto;
background-color:#FBFCFD;
border-bottom-width:1px;
border-bottom-color:#CCC;
border-bottom-style:dashed;
}

.xmf1_3div0_a
{width:12%;
float:left;
height:100%;
font-size:100%;
font-family:"微软雅黑";
color:#000;
line-height:80px;
text-align:left;
font-weight:bold;
margin-left:2%;
}


.xmf1_3div0_b
{
width:86%;
float:left;
}
.xmf1_3div0_b1
{
border-width:1px;
border-color:transparent;
border-style:solid;
height:22px;
min-width:10px;
float:left;
margin-top:30px;
margin-bottom:10px;
line-height:22px;
margin-right:50px;
text-align:left;
font-size:16px;
}
.xmfl_span3a
{text-align:center;
font-size:14px;
}
.xmfl_span3bx
{
color:#F00;
}

.xmfl_span3bx1
{
color:#333;
}

.xmfl_span3bx2
{
color:#06C;
}

.xmf1_4div0
{
width:1160px;
min-height:60px;
float:left;
margin:0 auto 0 auto;
border-bottom-width:1px;
border-bottom-color:#CCC;
border-bottom-style:dashed;
}
.xmf1_5div0
{
width:1160px;
min-height:60px;
float:left;
margin:0 auto 0 auto;
}
.bianse
{color:#F00;}
.bianse1
{color:#333;}


/*信筹项目性质结束*/



/*项目排序开始*/
.xf_pai1
{width:1160px;
min-height:80px;
clear:both;
margin:auto;
}

.xf_pai2
{
font-size:18px;
font-family:"Arial Unicode MS", "微软雅黑";
text-align:center;
line-height:30px;
color:#333;
width:100%;
}

.biankuang
{
	background-color:#660;
}
.xf_pai3
{float:left;min-width:170px; margin-right:10px;
margin-top:25px; position:relative;}

.xf_pai4
{display:none;
width:100%;
background-color:#CCC;
position:absolute;
z-index:10;
}

/*项目排序结束*





/*精选项目代码开始*/
.c3div1
{width:100%;
height:1000px;
background-image:url(../images/c3a.png);
background-repeat:repeat;
}

.c3div2
{width:1160px;
height:12%;
margin:auto;
}
.c3div2a
{width:6%;
height:42%;
margin:auto;
position:relative;
top:-25px;
}
.c3div2b
{
width:19%;
height:58%;
float:left;
}
.c3div2c
{
width:8%;
height:33%;
float:right;
border-radius:25px;
border-style:solid;
border-width:2px;
border-color:#FFF;
font-size:14px;
color:#666666;
font-family:"微软雅黑";
line-height:40px;
text-align:center;
font-weight:700;
box-shadow:0px 2px #CCC;
}
.c3div2d
{
width:11%;
height:33%;
float:right;
border-radius:25px;
border-style:solid;
border-color:#FFF;
font-size:14px;
color:#666666;
font-family:"微软雅黑";
line-height:40px;
text-align:center;
margin-right:1%;
font-weight:700;
box-shadow:2px 2px #CCC;
}
.c3div2e
{
width:11%;
height:33%;
float:right;
border-radius:25px;
border-style:solid;
border-color:#FFF;
font-size:14px;
color:#666666;
font-family:"微软雅黑";
line-height:40px;
text-align:center;
margin-right:1%;
font-weight:700;
box-shadow:2px 2px #CCC;
background-image:none;
background-color:#FFF;
color:red;
}


.c3div3
{width:100%;
height:88%;
margin:auto;
position:relative;
}
.c3div3a
{width:50px;
height:100px;
position:absolute;
left:0px;
top:300px;
z-index:10;
}
.c3div3b
{width:1160px;
height:1180px;
margin:auto;
overflow:hidden;
}
.c3div3c
{width:50px;
height:100px;
position:absolute;
right:0;
top:300px;
z-index:10;
}


.c3div3b-1
{width:100%;
height:95%;
}

.c3div3b-1a
{width:30%;
height:30%;
background-color:#FFF;
float:left;
margin-right:15px;
margin-left:15px;
margin-bottom:2%;
box-shadow:0px 3px 0px #888888;
border-style:solid;
border-width:3px;
border-color:#CCC;
}


.c3div3b-1d
{width:30%;
height:48%;
background-color:#FFF;
float:left;
margin-right:4%;
box-shadow:0px 5px 0px #888888;
}
.c3div3b-1e
{width:30%;
height:48%;
background-color:#FFF;
float:left;
box-shadow:0px 5px 0px #888888;
}
.c3div3b-1f
{width:30%;
height:48%;
background-color:#FFF;
float:right;
box-shadow:0px 5px 0px #888888;
}

.c3div3b-yuan
{width:100%;
height:6%;
}
.c3divbbbb
{width:80px;
height:10px;
float:right;
margin-right:20px;
}

.c3div3b-yuan1
{
width:10px;
height:10px;
float:left;
margin-top:10px;
margin-left:10px;
background-image:url(../images/yuan1.png);
background-repeat:no-repeat;
}

.c3div3b-yuan2
{
width:10px;
height:10px;
float:left;
margin-top:10px;
margin-left:10px;
display:none;
}


.c3div6a1
{width:100%;
height:40%;
float:left;
}
.c3div6a1 img
{width:100%;
height:100%;
}
.xs_jiadiv
{width:100%;
height:8%;
float:left;
border-style:solid;
border-width:1px;
border-color:#CCC;
border-left:none;
border-right:none;
background-image:url(../images/xs100_03.gif);
background-size:100% 100%;
}
.xs_jiaspan
{
float:left;
margin-left:10px;
font-size:18px;
font-family:"微软雅黑";
}
.xs_jiaspan1
{
float:right;
margin-right:10px;
font-size:24px;
font-family:"微软雅黑";
color:#F00;
line-height:100%;
}
.c3div6a20
{width:100%;
height:18%;
float:left;
}
.c3div6a2
{width:90%;
height:100%;
margin:auto;
}
.c3p6a2
{font-size:100%;
font-family:"微软雅黑";
line-height:150%;
color:#555555;
}
.c3div6a3
{width:100%;
height:22%;
float:left;
}
.c3span6a3
{font-size:12px;
font-family:"微软雅黑";
color:#999999;
}
.c3span6a3a
{font-size:24px;
font-family:"微软雅黑";
color:#010101;
font-weight:bolder;
}
.c3div6a3-1
{width:90%;
height:15%;
margin:auto;
}
.c3div6a3-1 img
{width:100%;
height:100%;
}
.c3div6a3-2
{width:90%;
height:56%;
margin:auto;
}
.c3span6a3b
{font-size:16px;
font-family:"微软雅黑";
color:#F00;
margin-left:1%;
}
.c3span6a3e
{font-size:16px;
font-family:"微软雅黑";
color:#999999;
float:right;
margin-right:1%;
}
.c3div6a4
{width:100%;
height:12%;
float:left;
border-top-style:solid;
border-top-width:1px;
border-color:#CCC;
}
.c3div6a4 img
{width:100%;
height:100%;
}
.c3div6ajia
{width:100%;
height:30%;
line-height:100%;
margin-top:3%;
}
.c3div6ajia1
{width:100%;
height:30%;
line-height:100%;
margin-top:2%;
}
.c3div3b-2
{
width:100%;
height:5%;
text-align:center;
}
.c3div3b-2 ul
{list-style:none;}
.c3div3b-2 li
{
text-align:center;
}
.c3div3b-2_span1
{
font-size:14px;
font-family:"微软雅黑";
color:#000;
border-color:#999;
border-width:1px;
border-style:solid;
display:inline-block;
height:40px;
width:80px;
line-height:40px;
font-weight:600;	
}
.c3div3b-2_span2
{
font-size:14px;
font-family:"微软雅黑";
color:#000;
border-color:#999;
border-width:1px;
border-style:solid;
display:inline-block;
height:40px;
width:50px;
line-height:40px;
font-weight:600;
	
}
.c3div3b-2_span3
{
font-size:14px;
font-family:"微软雅黑";
color:#000;
border-color:#999;
border-width:1px;
border-style:solid;
display:inline-block;
height:40px;
width:30px;
line-height:40px;
font-weight:600;
	
}
.c3div3b-2 a
{text-decoration:none;}

.lei
{color:#F00;
border-color:#F00;
}
.lei2
{background-color:#000;
color:#FFF;
border:none;
}

.jialei
{
border-color:#F00;
}
/*精选项目代码结束*/






