@charset "utf-8";
/* CSS Document */
body
{margin:0 auto;
padding:0;
border:0;
}
*{border:0px none;margin:0;}


/*导航部分css代码*/
.atop1
{
text-decoration:none;
}
.top1
{height:80px;
width:100%;
background-image:url(../images/top1.png);
background-repeat:repeat;
}
.top2
{width:1160px;
height:100%;
margin:0 auto;
}
.top2a
{width:24%;
height:100%;
float:left;
}
.imgtop1
{width:100%;
height:100%;
}
.top2b
{width:50%;
height:100%;
float:left;
}
.top2b-1
{width:16%;
height:100%;
float:left;
}
.ptop1
{text-align:center;
margin-top:35%;
font-size:14px;
color:#ffffff;
font-family:"微软雅黑";
font-weight:bold;
}
.top2c
{width:26%;
height:100%;
float:left;
}
.top2c-1
{width:100%;
height:100%;
}
.top2c-1a
{width:29%;
text-align:center;
float:left;
margin-left:1%;
margin-top:10%;
}
.spantop1
{
font-family:"微软雅黑";
font-size:14px;
color:#ffffff;
}
.spantop2
{
font-family:"微软雅黑";
font-size:14px;
color:#EDC99C;
}
.top2c-1b
{width:69%;
height:50%;
border-radius:10px;
border-style:outset;
border-width:1px;
border-color:transparent;
background-image:url(../images/top3.png);
background-repeat:repeat;
float:left;
margin-top:6%;

}
.inputtop1
{width:77%;
float:left;
border:0;
background-image:url(../images/top3.png);
height:40px;
color:#999999;
font-family:"微软雅黑";
font-size:16px;
}
.inputtop2
{width:20%;
height:100%;
float:left;
background-image:url(../images/top4.png);
height:40px;
border:none;
}



/*导航部分css代码结束*/




/*第一部分滑动效果样式开始*/

.xmfl_1div0
{width:100%;
height:300px;
background-image:url(../images/xiangmu1_02.gif);
background-size:100% 100%;
position:relative;
}

.xmfl_1div1
{width:1160px;
height:100%;
margin:auto;
overflow:hidden;
position:relative;
}

.xmfl_1div1zong
{width:400%;
height:100%;
position:relative;
}
.xmfl_1div1zong_1
{width:25%;
height:100%;
float:left;
}
.xmf1_img
{width:100%;
height:100%;
}

.xmfl_1divleft
{width:2%;
height:20%;
position:absolute;
right:0;
top:40%;
}

.xmfl_1divright
{width:2%;
height:20%;
position:absolute;
left:0;
top:40%;
}

.xmfl_1divyuandian
{width:6%;
height:4%;
position:absolute;
z-index:10;
top:90%;
left:90%;
}

.xmfl_1divyuandian_1
{
width:15%;
height:100%;
float:left;
margin-left:10%;
background-image:url(../images/xm1b.png);
background-size:100% 100%;
}


/*第一部分滑动效果样式结束*/



/*信筹项目筛选开始*/


.xmf1_2div0
{
width:1160px;
min-height:80px;
float:left;
margin:10px auto 0 auto;
border-width:1px;
border-color:#CCC;
border-style:solid;
}

.xmf1_2div0_a
{width:12%;
float:left;
height:100%;
font-size:100%;
font-family:"微软雅黑";
color:#000;
line-height:80px;
text-align:left;
font-weight:bold;
margin-left:2%;
}


.xmf1_2div0_b
{width:86%;
float:left;
}
.xmf1_2div0_b1
{
border-width:1px;
border-color:#CCC;
border-style:solid;
height:22px;
min-width:10px;
float:left;
margin-top:30px;
margin-bottom:10px;
line-height:22px;
margin-right:10px;
}
.xmfl_span3a
{text-align:center;
font-size:14px;
}
.xmfl_span3b
{text-align:center;
font-size:14px;
color:#F00;
}

/*信筹项目筛选结束*/




/*信筹项目性质开始*/

.xmf1_3div0
{
width:1160px;
min-height:60px;
float:left;
margin:10px auto 0 auto;
background-color:#FBFCFD;
border-width:1px;
border-color:#CCC;
border-style:dashed;
}

.xmf1_3div0_a
{width:12%;
float:left;
height:100%;
font-size:100%;
font-family:"微软雅黑";
color:#000;
line-height:80px;
text-align:left;
font-weight:bold;
margin-left:2%;
}


.xmf1_3div0_b
{
width:86%;
float:left;
}
.xmf1_3div0_b1
{
border-width:1px;
border-color:#CCC;
border-style:solid;
height:22px;
min-width:10px;
float:left;
margin-top:30px;
margin-bottom:10px;
line-height:22px;
margin-right:10px;
}
.xmfl_span3a
{text-align:center;
font-size:14px;
}
.xmfl_span3b
{
text-align:center;
font-size:14px;
color:#F00;
}






/*信筹项目性质结束*/