@charset "utf-8";
@import url("navi.css");
body{ font-size:62.5%;}
.s1-lb-zs{
width:100%;
min-height:550px;
float:left;
}
.s1-background{
width:100%;
height:550px;
padding:0;
margin:0 auto;
background-image:url("../images/sha1.gif");
background-repeat:no-repeat;
background-size:100% 100%; 
-moz-background-size:100% 100%;
}
.s1-lb-zs-a1{
width:1160px;
height:550px;
margin:0 auto;
}
.s1-lb-zs-a2{
width:100%;
min-width:1160px;
height:43.6%;
float:left;
margin:22.6% 0% 0% 0%;
}
.s1-lb-zs-a3{
width:100%;
min-width:1160px;
height:100%;
float:left;
margin-left:4.5%;
}
.s1-lb-zs-a4{
height:240px;
width:20%;
float:left;
margin-right:4.6%;
border-radius:25px;
-moz-border-radius:25px; /* 老的 Firefox */
}
.s1-lb-zs-a5{
width:3.4%;
float:left;
}
.s1-1c-zw{
width:100%;
min-height:100px;
float:left;
}
.s1-1c-zw1{
width:1160px;
min-height:10px;
margin:0 auto;
}
.s1-1c-zw2{
width:100%;
height:auto;
margin:50px 0px 30px 0px;
}
.s1-1c-zw3{
width:40%;
height:auto;
margin:0 auto;
}
.s1-1c-zw8{
width:100%;
min-height:10px;
padding:0;
}
.s1-1c-zw4{
width:14.4%;
min-width:180px;
height:550px;
margin:0% 1.7% 0% 0.8%;
background-image:url("../images/sha3.gif");
background-repeat:no-repeat;
background-size:100% 100%; 
-moz-background-size:100% 100%;
background-image:repeat-x;
display:block;
}
.s1-1c-zw5{
margin:auto auto 50px 70px;
float:left;
}
.s1-1c-zw6{
width:25.8%;
min-height:100px;
height:auto;
font-size:3.2em;
font-family:Microsoft YaHei;
color:#000;
writing-mode: tb-rl;
margin:0 auto;
float:left;
}
.s1-1c-zw7{
width:25.8%;
font-size:3.2em;
font-family:Microsoft YaHei;
color:#FFF;
writing-mode: tb-rl;
}
.lie{
width:1.5em;
font-size:3.2em;
font-family:Microsoft YaHei;
color:#FFF;
writing-mode:tb-rl;
}
.s1-1c-zw9{
width:85%;
text-align:left;
height:auto;
}
.s1-1c-zw9 p{
font-size:1.6em;
font-family:Microsoft YaHei;
line-height:150%;
margin-bottom:30px;
word-break: break-all;
word-wrap:break-word;
overflow:hidden;
}
.s1-1c-zw10{
width:100%;
margin:50px 0px 30px 0px;
border:1px solid #E5E5E5;
border-left:none;
border-right:none;
border-bottom:none;
}
.s1-1c-zwdi{
min-width:1160px;
height:auto;
margin:0 auto;
}
.up{
width:100px;
height:100px;
right:230px;
bottom:500px;
position:fixed;
background:url("../images/sha5.png") no-repeat 0 0;
filter:alpha(Opacity=60);
-moz-opacity:0.6;opacity: 0.1;
}
.up:hover{filter:alpha(Opacity=100);
-moz-opacity:1;opacity:1;
}
/*********************************十二杀第二页面**********************************************/
.s2-1c-zw1{
width:100%;
min-height:100px;
height:auto;
float:center;
}
.s2-1c-zw2{
width:18%;
float:left;
background-image: url("../images/sha3.gif");
background-repeat: repeat;
}
.s2-1c-zw3{
width: 18%;
min-height: 100px;
height: auto;
font-size: 32px;
font-family: Microsoft YaHei;
color: #000;
writing-mode: tb-rl;
margin: 0 auto;
float: left;
}
.s2-1c-zw4{
width: 18%;
font-size: 32px;
font-family: Microsoft YaHei;
color: #FFF;
writing-mode: tb-rl;
}
.s2-1c-zw5{
width:82%;
float:left;
}
.s2-1c-zw6{

}
.s2-1c-zw5{
margin:45px auto 60px 70px;
float:left;
}
.s2-1c-zw7{
width:25.8%;
font-size:24px;
font-family:Microsoft YaHei;
color:#FFF;
writing-mode:tb-rl;
}
/*********************************十二杀第三页面**********************************************/
.s3-1c-zw1{
width:100%;
border:1px solid #E5E5E5;
border-left:none;
border-right:none;
border-bottom:none;
}
/*********************************十二杀第四页面**********************************************/
.s4-1c-zw1{
width:100%;
height:300px;
float:left;
}
.s4-1c-zw2{
width:100%;
min-width:1160px;
height:100%;
}
.s4-1c-zw3{
width:17%;
min-height:560px;
}
.s4-1c-zw4{
width:83%;
min-height:560px;
margin:0 auto;
}
.s4-1c-zw5{
width:100%;
height:auto;
}
.s4-1c-zw5 p{
font-size:1.8em;
font-family:Microsoft YaHei;
word-break: break-all;
word-wrap:break-word;
margin-bottom:40px;
}
.s4-1c-zw6{
width:100%;
min-height:80px;
float:left;
margin-bottom:15px;
}





