@charset "utf-8";
@import url("navi.css");

.lb-zs{
width:100%;
height:550px;
float:left;
background-image:url("../images/sha1.gif");
}
.lb-zs-a1{
width:60%;
height:100%;
float:center;
}
.lb-zs-a2{
width:94%;
float:center;
height:43.6%;
float:left;
}






