@charset "utf-8";
/* CSS Document */
body
{margin:0 auto;
padding:0;
border:0;
font-size:100%;
position:absolute;
bottom:0;
top:0;
right:0;
left:0;
}




/*µ¼º½²¿·Öcss´úÂë*/
.atopxc1
{text-decoration:none;
}
.topxc1
{height:80px;
width:100%;
background-image:url(../images/top1.png);
background-repeat:repeat;
}
.topxc2
{width:60%;
height:100%;
margin:0 auto;
}
.topxc2a
{width:17.2%;
height:100%;
float:left;
margin-right:4.3%;
}
.imgtopxc1
{width:100%;
height:100%;
}
.topxc2b
{width:50.8%;
height:100%;
float:left;
}
.topxc2b-1
{width:16%;
height:100%;
float:left;
}
.ptopxc1{
height:25%;
text-align:center;
margin:37.5% 0%;
font-size:88%;
color:#ffffff;
font-family:"Î¢ÈíÑÅºÚ";
font-weight:bold;
}
.topxc2c
{width:27.58%;
height:100%;
float:right;
}
.topxc2c-1
{width:100%;
height:100%;
float:right;
}
.topxc2c-1a
{width:27%;
height:25%;
float:right;
text-align:center;
margin:10% 0%;
}
.topxc2c-1a a{
font-size:14px;
font-family:Microsoft YaHei;
color:#AAAAAA;
text-decoration:none;
}
.topxc2c-1a a:hover{
font-size:14px;
font-family:Microsoft YaHei;
color:#2778A4;
text-decoration:none;
}
.topxc2c-1a  a,span{
margin:0% 1%;
width:10%;
float:center;
}
.topxc2c-1b
{width:71.8%;
height:50%;
margin:6% 0%;
background-color:#1E1E1E;
border-radius:10px;
border-style:outset;
border-width:1px;
border-color:transparent;
background-image:url(../images/top3.png);
background-repeat:repeat;
float:left;
}
.inputtopxc1
{width:77%;
height:100%;
float:left;
border:0;
background-image:url(../images/top3.png);
height:40px;
color:#999999;
font-family:"Î¢ÈíÑÅºÚ";
font-size:100%;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}
.inputtopxc2
{width:20%;
height:100%;
float:left;
background-image:url(../images/top4.png);
height:40px;
border:none;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
}
/*
.ptop2
{color:#999999;
font-family:"Î¢ÈíÑÅºÚ";
font-size:100%;
margin-left:4%;
margin-top:5%;
}
.top2c-1b-1
{width:77%;
height:100%;
float:left;


}
.top2c-1b-2
{width:20%;
height:100%;
float:left;
}
*/
.topxc2c-2
{width:100%;
height:8%;
float:left;

background-size:100% 100%;
}

/*µ¼º½²¿·Öcss´úÂë½áÊø*/
/***************µ×²¿´úÂë***************/
.l-foot{
width:100%;
height:256px;
float:left;
background-color:#2A2A2A;
}
.l-foota{
width:60%;
height:256px;
float:center;
margin:0 auto;
}
.l-foota1{
width:100%;
height:150px;
float:left;
margin:50px 0px 56px 0px;
}
.l-foota2{
width:57.75%;
height:150px;
float:left;
}
.l-foota21{
width:23.88%;
height:150px;
float:left;
}
.l-foota22{
width:62.5%;
height:150px;
float:left;
margin-left:11.25%;
}
.l-foota23{
font-size:24px;
color:#FFFFFF;
font-family:Microsoft YaHei;
}
.l-foota24{
height:16px;
margin-top:30px;
float:left;
}
.l-foota24 a{
font-size:14px;
color:#999999;
font-family:Microsoft YaHei;
text-decoration:none;
}
.l-foota25{
margin-top:20px;
height:16px;
float:left;
}
.l-foota25 a{
margin-top:20px;
font-size:14px;
color:#999999;
text-decoration:none;
font-family:Microsoft YaHei;
}
.l-foota26{
height:150px;
float:right;
border-right:1px solid #404040;
}
.l-foota3{
width:29%;
float:left;
height:150px;
}
.l-foota30{
width:93.4%;
float:left;
height:150px;
margin-right:6.5%;
}
.l-foota31{
width:72.6%;
height:20px;
float:right;
}
.l-foota32{
width:9%;
float:left;
margin-right:4%;
}
.l-foota33{
width:86.4%;
float:left;
color:#FFFFFF;
font-size:16px;
font-family:Microsoft YaHei;
}
.l-foota33 span{
font-size:16px;
color:#FF4200;
font-family:Microsoft YaHei;
}
.l-foota34{
width:100%;
float:left;
height:20px;
margin:10px 0px 20px 0px;
}
.l-foota35{
width:7%;
height:24px;
float:left;
margin-right:3%;
}
.l-foota36{
width:90%;
float:left;
height:20px;
color:#FFFFFF;
font-size:16px;
line-height:24px;
font-family:Microsoft YaHei;
}
.l-foota36 span{
font-size:16px;
color:#79CDEA;
font-family:Microsoft YaHei;
}
.l-foota37{
float:right;
width:auto;
height:20px;
font-size:14px;
color:#FFFFFF;
margin-bottom:10px;
}
.l-foota38{
float:right;
width:auto;
height:20px;
font-size:14px;
color:#FFFFFF;
}
.hhr{
width:266px;
float:left;
margin-bottom:20px;
border-bottom:1px solid #404040;
}
.weixin{
width:12.93%;
height:150px;
float:right;
}












