@charset "utf-8";
/* CSS Document */
body{
font-size:62.5%;
font-family:Microsoft YaHei;
}
ul{list-style-type:none;}
input{
line-height:38px;
border:1px solid #EAEAEA;
}
a{text-decoration:none;}

.xzs{
width:100%;
min-width:1160px;
min-height:10px;
background-color:#F3F3F3;
}
.xzs1{
width:60%;
min-width:1160px;
min-height:10px;
margin:0 auto;
}
.xzsa01{
width:100%;
min-width:1160px;
min-height:10px;
margin:0 auto;
display:inline-block;
}
.xzsa0_2{
width:870px;
min-height:10px;
float:left;
display:inline-block;
}
/***display:inline-block;*****/
.xxxx{
width:100%;
min-height:10px;
margin-top:30px;
display:inline-block;
}
.xzsa02{
width:100%;
min-height:10px;
background-color:#FFFFFF;
margin-top:30px;
display:inline-block;
}
.xzsa70{
width:100%;
height:30px;
margin:30px auto;
}
.xzsa71{
width:770px;
height:100%;
float:left;
}





.xzsa03{
width:60px;
height:30px;
background-color:#F6594E;
float:left;
margin-right:10px;
}
.xzsa04{
width:auto;
height:30px;
}
.xzsa04 p{
font-size:2.4em;
font-weight:bold;
line-height:30px;
}
.xzsa05{
width:auto;;
height:16px;
margin-bottom:20px;
}
.xzsa06{
font-size:1.4em;
color:#999999;
line-height:16px;
}
.xzsa06 a{
font-size:1em;
color:#999999;
}
.xzsa0fx{
float:right;
width:160px;
height:18px;
}
.hr{
border:2px solid #F6594E;
border-bottom:none;
border-left:none;
border-right:none;
}
.xzsa10{
width:810px;
min-height:10px;
margin:0 auto;
}
.xzsa11{
width:100%;
height:270px;
}
.xzsa20{
width:100%;
min-height:10px;
margin-top:34px;
}
.xzsa21{
width:4px;
height:38px;
border:2px solid #F6594E;
border-bottom:none;
border-top:none;
border-right:none;
}
.xzsa22{
font-size:3.6em;
font-weight:bold;
color:#000000;
}
.xzsa23{
width:100%;
min-height:10px;
line-height:300%;
}
.xzsa23 p{
font-size:1.6em;
color:#666666;
word-wrap:break-word;
overflow:auto;
}
.xzsa23img{
width:100%;
height:350px;
margin:20px 0px 20px 0px;
}
.xzsa24{
width:100%;
min-height:10px;
margin:42px 0px 38px 0px;
}
.xzsa24 p{
font-size:1.8em;
font-weight:bold;
color:#000000;
}
.xzsa25{
width:172px;
height:172px;
}
.xzsa26{
width:100%;
float:left;
height:80px;
margin-top:8px;
}
.xzsa27{
width:100%;

height:20px;
margin:40px 0px 20px 26px;
}
.xzsa28{
font-size:1.4em;
color:#999999;
}
.xzsa28 a{
font-size:1em;
color:#F6594E;
}
.xzsa29{
margin-left:50px;
font-size:1.4em;
color:#999999;
line-height:20px;
}
.xzsa29 img{
width:14px;
height:14px;
}
.xzsa30{
width:240px;
height:80px;
float:right;
background-color:#4AC2BB;
text-align:center;
}
.xzsa30 a{
font-size:30px;
color:#FFFFFF;
line-height:80px;
}
.xzsa31{
width:64px;
float:right;
height:30px;
margin-right:30px;
border:1px solid #DADADA;
border-radius:8px;
-moz-border-radius:8px; /* ÀÏµÄ Firefox */
text-align:center;
}
.xzsa31 a{
line-height:30px;
font-size:1.4em;
color:#A3A3A3;
}
.xzsa32{
width:178px;
height:220px;
border:1px solid #DADADA;
border-bottom:none;
border-right:none;
border-top:none;
margin-top:20px;
}
.xzsa32left{
width:178px;
height:220px;
border:1px solid #DADADA;
border-bottom:none;
border-right:none;
border-top:none;
margin-top:20px;
margin-right:30px;
}
.xzsa33{
width:178px;
height:100px;
}
.xzsa34{
margin:14px 0px 0px 10px;
}
.xzsa34 a{
font-size:1em;
color:#000000;
line-height:200%;
}
.xzsa34 p{
font-size:1.2em;
color:#999999;
line-height:200%;
}
.xzsa35{
font-size:1.2em;
color:#F6594E;
}
.xzsa36{
font-size:1em;
color:#333333;
}
.xzsa37{
font-size:1em;
color:#999999;
}
/********************/
.xzsb01{
width:260px;
min-height:10px;
float:right;
border-width:1px;
border-style:solid;
border-color:transparent;
display:inline-block;
}
.xzsb02{
width:100%;
min-height:10px;
margin-top:30px;
background-color:#FFFFFF;
}
.xzsb03{
width:100%;
min-height:10px;
background-color:#FFFFFF;
}
.xzsb04{
width:76px;
height:24px;
margin:16px 28px 20px 22px;
}
.xzsb05{
line-height:24px;
float:left;
width:24px;
height:24px;
}
.xzsb06{
float:right;
width:auto;
height:24px;
}
.xzsb06 a{
line-height:24px;
font-size:2.2em;
color:#F6594E;
}
.xzsb07{
float:right;
width:auto;
height:24px;
}
.xzsb07 a{
line-height:24px;
font-size:2.2em;
color:#4AC2BB;
}
.xzsb08{
min-height:10px;
margin:20px;
}
.xzsb09{
font-size:1.4em;
color:#666666;
}
.xzsb10{
font-size:3.6em;
font-weight:bold;
color:#000000;
padding-bottom:18px;
}
.xzsb11{
font-size:1.2em;
line-height:200%;
color:#999999;
}
.xzsb11 span{
font-size:1em;
color:#333333;
font-weight:bold;
}
.hr3{
width:100%;
height:1px;
border:1px solid #DADADA;
border-bottom:none;
border-left:none;
border-right:none;
}
.graph{ 
width:180px; 
border:1px solid #E5E5E5; 
height:8px; 
margin:20px;
} 
#bar{ 
display:block; 
background:#F6594E; 
float:left; 
height:100%; 
text-align:right; 
color:#000000;
} 
#barNum{ 
position:absolute; 
}
.xzsb12{
width:50.7px;
height:40px;
margin:20px 16px;
}
.xzsb13{
width:100%;
line-height:20px;
text-align:center;
font-size:1.8em;
color:#000000;
font-weight:bold;
}
.xzsb14{
width:100%;
line-height:20px;
text-align:center;
font-size:1em;
color:#999999;
}
.xzsb15{
width:100%;
min-height:10px;
margin-top:20px;
background-color:#FFFFFF;
}
.xzsb16{
width:100%;
height:60px;
border:1px solid #DADADA;
}
.xzsb17{
width:6px;
height:98%;
float:left;
border:1px solid #F6594E;
background-color:#F6594E;
}
.xzsb18{
font-size:2.4em;
color:#000000;
line-height:60px;
float:left;
margin:0px 20px 0px 16px;
}
.xzsb19{
width:auto;
line-height:60px;
float:right;
margin-right:14px;
}
.xzsb191{
width:auto;
font-size:1.2em;
line-height:60px;
color:#666666;
float:right;
}
.xzsb20{
margin:18px 20px 10px 20px;
}
.xzsb20 p{
font-size:1.2em;
color:#666666;
line-height:200%;
display:block;
}
.xzsb21{
font-size:1.2em;
color:#666666;
display:block;
margin:18px 0px 0px 0px;
}
.xzsb22{
width:238px;
height:50px;
border-radius:6px;
border:1px solid #FF7167;
background-color:#FF7167;
margin:10px;
text-align:center;
line-height:50px;
color:#FFFFFF;
font-size:2.2em;
display:inline-block;
}
.xzsb23{
width:100%;
height:170px;
margin-top:20px;
}
.ds{
width:100px;
}





/*********************/
.xzsa60{
width:100%;
height:20px;
margin:10px 0px 20px 0px;
}
.xzsa61{
width:220px;
height:100%;
float:left;
margin-left:70px;
}
.xzsa62{
width:380px;
height:100%;
float:left;
}
.xzsa63{
width:140px;
height:100%;
float:right;
margin-right:10px;
}
.xzsa64{
width:20px;
height:100%;
float:left;
}
.xzsa65{
width:40px;
height:100%;
float:left;
}
.xzsa66{
width:100%;
height:40px;
}













