@charset "utf-8";
/* CSS Document */
body{
font-size:62.5%;
font-family:Microsoft YaHei;
margin:0;
padding:0;
}
.zz-a{
display:block;
width:100%;
min-width:1160px;
min-height:10px;
margin:0 auto;
background-image:url("../images/zhongzhi.gif");
background-repeat:no-repeat;
background-size:100% 100%;
}
.zz-a1{
width:60%;
min-width:1160px;
height:100%;
margin:0 auto;
}
.ooop{
width:100%;
float:center;
min-height:10px;
margin:0 auto;
}
.zz-a2{
float:center;
margin:0 auto;
width:100%;
min-height:10px;
}
.zz-a2 p{
font-size:1.6em;
color:#FBE7E7;
text-align:center;
line-height:200%;

}
.zz-a3{
width:816px;
height:60px;
-moz-border-radius: 40px; /* Firefox */
-webkit-border-radius: 40px; /* Safari 和 Chrome */
border-radius: 40px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
background-color:#E89091;
opacity:0.5;
float:center;
margin:40px auto 90px auto;
}
.zz-a3 p{
font-size:2.4em;
font-family:SimSun;
color:#3F3535;
text-align:center;
line-height:60px;
}
.zz-a4{
float:center;
margin:0 auto;
width:100%;
min-height:10px;
}
.zz-a4 p{
font-size:1.6em;
color:#FBE7E7;
text-align:center;
line-height:200%;

}
.oo{
float:center;
height:100px;
width:390px;
margin:0 auto;

}
.xoxo{
height:54px;
width:380px;
float:center;
margin:0 auto;

}



























