@charset "utf-8";
/* CSS Document */
body{font-size:62.5%;}
.z_stuan1{
width:100%;
height:100%;
margin-bottom:50px;
}
.z_stuan2{
width:60%;
float:center;
min-width:1160px;
min-height:10px;
text-align:center;
margin:0 auto;
}
.z_stuan3{

margin:60px 0px 50px 0px;
}
.z_stuan4{
width:696px;
height:50px;
float:center;
margin:0 auto;
border:2px solid #D2D2D2;
}
.z_stuan5{
width:270px;
min-height:10px;
line-height:50px;
font-size:3em;
font-family:SimSun;
color:#333333;
padding:0px 40px;
}
.z_stuan6{
font-size:2.4em;
font-family:SimSun;
color:#666666;
min-height:10px;
line-height:50px;
}
.z_stuan7{
width:100%;

min-height:10px;
margin:43px 0px 0px 0px;
}
.jian{
width:96%;
min-height:10px;
margin-right:4%;
}
.z_stuan8{
border-radius:60px;
-moz-border-radius:60px; /* ÀÏµÄ Firefox */
}
.z_stuan9{
width:128px;
height:44px;
border:1px solid #F1C40F;
background-color:#F1C40F;
float:center;
margin:40px auto 20px auto;
}
.z_stuan9 span{
font-size:3em;
font-family:Microsoft YaHei;
color:#FFFFFF;
text-align:center;
padding:0;
line-height:44px;
}
.z_stuan10{
min-height:10px;
width:80%;
float:left;
margin:0 auto;
}
.z_stuan10 p{
font-size:1.4em;
font-family:Microsoft YaHei;
color:#888888;
line-height:170%;
text-align:left;
margin-bottom:30px;
}
.z_stuan11{
width:128px;
height:44px;
border:1px solid #8AD16A;
background-color:#8AD16A;
float:center;
margin:40px auto 20px auto;
}
.z_stuan11 span{
font-size:3em;
font-family:Microsoft YaHei;
color:#FFFFFF;
text-align:center;
padding:0;
line-height:44px;
}
.z_stuan12{
width:128px;
height:44px;
border:1px solid #FE6677;
background-color:#FE6677;
float:center;
margin:40px auto 20px auto;
}
.z_stuan12 span{
font-size:3em;
font-family:Microsoft YaHei;
color:#FFFFFF;
text-align:center;
padding:0;
line-height:44px;
}
.hr{
border:2px solid #666666;
border-bottom:none;
border-left:none;
border-right:none;
width:254px;
height:2px;
color:#666666;
float:left;
}
.z_stuan13{
width:128px;
height:44px;
border:1px solid #3598DB;
background-color:#3598DB;
float:center;
margin:40px auto 20px auto;
}
.z_stuan13 span{
font-size:3em;
font-family:Microsoft YaHei;
color:#FFFFFF;
text-align:center;
padding:0;
line-height:44px;
}
.z_stuan14{
width:100%;
min-width:1160px;
min-height:10px;
background-color:#FBFBFB;
}
.z_stuan15{
width:1160px;
min-height: 10px;
margin: 0 auto;
float:center;
}
.z_stuan16{
width:70%;
min-height:10px;
float:center;
margin:auto;
text-align:center;
}
.z_stuan17{
font-size:3em;
font-family:SimSun;
color:#333333;
text-align:center;
padding:40px 0px 20px 0px;
}
.z_stuan18{
font-size:2.4em;
font-family:SimSun;
color:#666666;
text-align:center;
padding-bottom:30px;
}
.z_stuan19{
width:100%;
height:auto;
margin:0 auto;
}
.z_stuan20{
width:100%;
float:center;
min-height:10px;
margin:0 auto;
}
.z_stuan21{
float:left;
width:214px;
height:212px;
margin:0px 32px 0px 0px;
}
.z_stuan21z{
float:left;
width:214px;
height:212px;
margin:0px 62px 0px 42px;
}
.z_stuan22{
width:34%;
float:left;
margin:0 auto;
font-size:2.4em;
font-family:Microsoft YaHei;
color:#333333;
text-align:left;
}
.z_stuan23{
width:100%;
height:100%;
float:left;
}
.z_stuan24{
width:282px;
min-height:10px;
float:left;
}
.z_stuan24 p{
font-size:1.4em;
font-family:Microsoft YaHei;
color:#888888;
text-align:left;
line-height:150%;
word-break:break-all;
}
.z_stuan25{
width:1160px;
min-height:10px;
float:left;
margin-bottom:50px;
}
.z_stuan25b{
width:1160px;
min-height:10px;
float:left;
margin-bottom:190px;
}
.z_stuan26{
width:47%;
float:left;
min-height:10px;
margin-right:6.3%;
margin:0 auto;
}
.z_stuan26z{
width:47%;
float:right;
min-height:10px;
margin-right:6.3%;
margin:0 auto;
}











